.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_book/
_site/
*.Rproj
docs/
/assets/images/
/index_cache/
_freeze/

/.quarto/

.DS_Store

# Ignore all caches
/Experiments_cache
/Experiments_files
junk.txt
Science/microbes_in_you_cache/
Science/microbesEverywhere_cache/
methods_cache/
