.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_book/
_site/
*.Rproj
docs/
fromjoplin
publish
/assets/images/
/index_cache/
_freeze/

/.quarto/

.DS_Store

*.zip

# Ignore all caches
*_cache/
*_files/

junk.txt


