.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_book/
_site/
*.Rproj
docs/
fromjoplin
publish
/assets/images/
/index_cache/
_freeze/

/.quarto/

.DS_Store

*.zip

# Ignore all caches
/Experiments_cache
/Experiments_files
junk.txt
Science/microbes_in_you_cache/
Science/microbes_in_you_files/
Science/microbesEverywhere_cache/
methods_cache/
CaseStudies_files/
CaseStudies_cache/
CaseStudies/caseStudyHealthy_files

